{% extends "base.html" %}
{% block content %}

<h1>{{ workout.name }}</h1>

<div class="col">
    <form action="" method="POST">
      {% csrf_token %}
      <!-- Render the inputs -->
      {{ exercise_form.as_p }}
      <input type="submit" class="btn" value="Add Execercise">
    </form>
    <br>
    <table class="striped">
      <thead>
        <tr>
            <th>Exercise</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Weight</th>
        </tr>
      </thead>
      <tbody>
        {% for exercise in workout.exercises.all %}
          <tr>
            <td>{{exercise.exercise_type.name}}</td>
            <td>{{exercise.sets}}</td>
            <td>{{exercise.reps}}</td>
            <td>{{exercise.weight}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
    const selectEl = document.getElementById('id_exercise_type');
    M.FormSelect.init(selectEl);
  </script>

{% endblock  %}